

@model Kaffeplaneten.Models.UserModel

@{
    ViewBag.Title = "Loginview";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Action("HeaderAndMenuBar", "Layout")

    <div class="container-fluid">
        <fieldset>
            <div class="row">
                <div class="panel-body">
                    <div class="col-md-offset-1">
                        <h3>Innlogging:</h3>

                        <div class="editor-label">
                            @Html.LabelFor(userModel => userModel.username)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(userModel => userModel.username)
                            @Html.ValidationMessageFor(userModel => userModel.username)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(userModel => userModel.password)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(userModel => userModel.password)
                            @Html.ValidationMessageFor(userModel => userModel.password)
                        </div>
                        <input type="submit" value="Logg inn" id="LogInButton" class="btn btn-success" />
                    </div>
                </div>

            </div>

        </fieldset>
        </div>
}
          

              


