

@model Kaffeplaneten.Models.UserModel

@{
    ViewBag.Title = "Loginview";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Innlogging:</legend>

        <div id="innloggingsboks">

            <div class="editor-label">
                @Html.LabelFor(userModel => userModel.username)
            </div>
            <div class="editor-field">
                @Html.EditorFor(userModel => userModel.username)
                @Html.ValidationMessageFor(userModel => userModel.username)
            </div>

            <div class="editor-label">
                @Html.LabelFor(userModel => userModel.password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(userModel => userModel.password)
                @Html.ValidationMessageFor(userModel => userModel.password)
            </div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Logg inn" class="btn btn-success" />
            </div>
        </div>

    </fieldset>

    <div>
              
                 @if(ViewBag.LoggedOn == true)
                {
                    <p style="color:blue">Logget inn</p>
                }
                else
                {
                    <p style="color:red">Ikke logget inn</p>
                }
            </div>

            <div>
                @Html.ActionLink("Innlogget side", "LoggedInPage")<br />
                @Html.ActionLink("Logg ut", "LoggedOut")<br />
                @Html.ActionLink("Registrer ny bruker", "createUser", "User")
            </div>
        }

