

@model Kaffeplaneten.Models.UserModel

@{
    ViewBag.Title = "Loginview";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Action("HeaderAndMenuBar", "Layout")

    <div class="container-fluid">
       
                <div class="panel-default col-md-offset-3 col-md-6">
                         <div class="panel-heading">
                                <h3>Innlogging:</h3>
                           </div>
                        <div class="panel-body">
                                <div class="col-md-offset-3 col-md-6">
                                    <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    @Html.TextBoxFor(userModel => userModel.username, new { @class = "form-control", placeholder = (@Html.DisplayNameFor(userModel => userModel.username)) })
                                    @Html.ValidationMessageFor(userModel => userModel.username)
                                </div>

                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                    @Html.PasswordFor(userModel => userModel.password, new { @class = "form-control", placeholder = (@Html.DisplayNameFor(userModel => userModel.password)) })
                                    @Html.ValidationMessageFor(userModel => userModel.password)
                                </div>
                            </div>
                        </div>
                     <div class="panel-footer">
                        <input type="submit" value="Logg inn" id="LogInButton" class="btn btn-success"/>
                     </div>
                </div>

        
        </div>
}

<button class="btn btn-default " data-toggle="modal" data-target="#modalForgotPw">Glemt passord</button>


<!--modalForgotPw-->
<div class="modal fade" id="modalForgotPw" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Glemt passord</h4>
            </div>
            <div id="forgotBody" class="modal-body">
                <div class="col-md-offset-4 col-md-12">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </span>
                        @Html.TextBoxFor(userModel => userModel.username, new { @class = "form-control ErrorUsername", id = "forgotPW", placeholder = (@Html.DisplayNameFor(userModel => userModel.username)) })
                        <div id="valUsername" style="color: red;"><h3>@Html.ValidationMessageFor(userModel => userModel.username)</h3></div>
                    </div>
                    <div class="input-group input-group-lg">
                        <div id="pWfeedback"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-info" data-dismiss="modal">Lukk</button>
                <button type="button" onclick="forgot()" class="btn btn-primary">Senddd</button>
            </div>
        </div>
    </div>
</div>
          

              


