
@{
    ViewBag.Title = "HeaderAndMenuBar";
}


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Administrasjon kaffeplaneten</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>


<header>
    <!--Page-Logo Kaffeplaneten-->
    <nav class="navbar navbar-default">
        <img src="~/Content/img/Logo-Admin.png" class="img-responsive" />
        <div class="container-fluid">
            <div class="navbar-header" style="background-color: #5d3d1f; border-color: #337ab7;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="background-color: #5d3d1f">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
                <div id="navbar" class="container collapse navbar-collapse navbar-default" style="background-color: #5d3d1f">
                    <ul class="nav navbar-nav">
                        @if (ViewBag.Inlogged == true)
                        {


                            if (Session["employeeAdmin"] != null && Session["customerAdmin"] != null && Session["orderAdmin"] != null
                                && Session["productAdmin"] != null && Session["databaseAdmin"] != null)
                            {
                                bool employeeAdmin = (bool)Session["employeeAdmin"];
                                bool customerAdmin = (bool)Session["customerAdmin"];
                                bool orderAdmin = (bool)Session["orderAdmin"];
                                bool productAdmin = (bool)Session["productAdmin"];
                                bool databaseAdmin = (bool)Session["databaseAdmin"];

                                <li role="presentation"><span class="navbaricons glyphicon glyphicon-home"></span>@Html.ActionLink("Home", "Home", "LayoutController", new { area = "" }, new { @class = "navbar-brand" })</li>
                                if (employeeAdmin)
                                {
                                    <li role="presentation"><span class="navbaricons glyphicon glyphicon-user"></span>@Html.ActionLink("Ansattredigering", "createEmployee", "AdminEmployee", new { area = "" }, new { @class = "navbar-brand" })</li>
                                }
                                if (customerAdmin)
                                {
                                    <li role="presentation"><span class="navbaricons glyphicon glyphicon-user"></span>@Html.ActionLink("Kunderedigering", "AllCustomers", "AdminCustomer", new { area = "" }, new { @class = "navbar-brand" })</li>
                                }
                                if (orderAdmin)
                                {
                                    <li role="presentation"><span class="navbaricons glyphicon glyphicon-gift"></span>@Html.ActionLink("Ordreredigering", "AllOrders", "AdminOrder", new { area = "" }, new { @class = "navbar-brand" })</li>
                                }
                                if (productAdmin)
                                {
                                    <li role="presentation"><span class="navbaricons glyphicon glyphicon-folder-close"></span>@Html.ActionLink("Produktredigering", "AllProducts", "AdminProduct", new { area = "" }, new { @class = "navbar-brand" })</li>
                                }
                                if (databaseAdmin)
                                {
                                    <li role="presentation"><span class="navbaricons glyphicon glyphicon-list-alt"></span>@Html.ActionLink("Database", "", "", new { @class = "navbar-brand" })</li>
                                }
                                <li><span class="navbaricons glyphicon glyphicon-log-out"></span>@Html.ActionLink("Logg Ut", "LoggedOut", "Security", new { area = "" }, new { @class = "navbar-brand" })</li>
                            }

                        }

                    </ul>
                </div>
        </div>
    </nav>
</header>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/JavascriptFunksjoner.js"></script>