@model Kaffeplaneten.Models.OrderModel
@{
    ViewBag.Title = "confirmOrderView";
}
@Html.ValidationSummary(true)

<h2>Bekreft Ordre</h2>

@Html.Partial("OrderView", Model)

<h3>
    Kundeopplysninger
</h3>

@Html.Partial("customerView", (Kaffeplaneten.Models.CustomerModel)ViewBag.customerModel)


@Html.ActionLink("Avbryt", "AllProducts", "Product", new { area = "" }, new { @class = "btn btn-danger" })
@Html.ActionLink("Bekreft ordre", "receiptView", "Order", new { area = "" }, new { @class = "btn btn-success" })