@model Kaffeplaneten.Models.OrderModel
@{
    ViewBag.Title = "confirmOrderView";
}
@Html.ValidationSummary(true)
@Html.Action("HeaderAndMenuBar", "Layout")

<div class="container">
    <div class="panel-body">
        <div class="row">
            <div class="panel-primary">
                <div class="panel-heading">
                    Bekreft Ordre
                </div>
                @Html.Partial("OrderView", Model)
            </div>
            <div class="panel-primary">
                <div class="panel-heading">
                    Kundeopplysninger
                </div>
                @Html.Partial("customerView", (Kaffeplaneten.Models.CustomerModel)ViewBag.customerModel)
            </div>
                @Html.ActionLink("Avbryt", "AllProducts", "Product", new { area = "" }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Bekreft ordre", "receiptView", "Order", new { area = "" }, new { @class = "btn btn-success" })
        </div>
    </div>
</div>

   
