@model IEnumerable<Kaffeplaneten.Models.CustomerModel>
@{
    ViewBag.Title = "AllCustomers";
}
@Html.Action("HeaderAndMenuBar", "Layout")
<div class="container">
    <h2>Kunder i databasen</h2>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <table class="table table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.province)
            </th>
            <th>
                 
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr >
                <div onclick="location.href='@Url.Action("Details", "AdminCustomer", new { id = item.customerID })'">
                <td>
                    @Html.DisplayFor(modelItem => item.customerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.province)
                </td>
                </div>
                <td>
                    @Html.ActionLink("Rediger", "Edit", "AdminCustomer", new { id = item.customerID }, new { @class = "btn btn-default btn-xs" })
                    @Html.ActionLink("Detaljer", "Details", "AdminCustomer", new { id = item.customerID }, new { @class = "btn btn-default btn-xs" })
                    @Html.ActionLink("Kundebestillinger", "findOrders", "AdminOrder", new { id = item.customerID }, new { @class = "btn btn-default btn-xs" })
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modalDelete-@Html.DisplayFor(modelItem => item.customerID)">Slett</button>
                </td>

            </tr>


                        <!--DeleteModal-->
            <div class="modal fade" id="modalDelete-@Html.DisplayFor(modelItem => item.customerID)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Bekreft sletting!</h4>
                        </div>
                        <div class="modal-body">
                            <p>Er du sikker på at du vil slette @Html.DisplayFor(modelItem => item.firstName) ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Avbryt</button>
                            @Html.ActionLink("Slett", "Delete", "AdminCustomer", new { id = item.customerID }, new { @class = "btn btn-danger " })
                        </div>
                    </div>
                </div>
            </div>

        }
    </table>
</div>
