@model Kaffeplaneten.Models.CustomerModel

@{
    ViewBag.Title = "Endre kundeinformasjon";
}

    <div class="container">
    <h2>Rediger kundeinformasjon</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Customers</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                </div>
            </div>
            <!-- ADRESSE -->
            <div class="form-group">
                @Html.LabelFor(model => model.adress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.adress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.adress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.zipCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.zipCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.zipCode, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.province, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.province, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.province, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="checkbox-label">
                @Html.LabelFor(model => model.sameAdresses)

                <input type="checkbox" id="checkbox" onclick="sameAdress(this)" />

            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.payAdress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.payAdress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.payAdress, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.payProvince, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.payProvince, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.payProvince, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.payZipcode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.payZipcode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.payZipcode, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Tilbake", "AllCustomers")
    </div>

</div>




    <script type="text/javascript">
        function sameAdress() {
            if ($('#checkbox').is(":checked")) {
                $('#adress').html(function () {
                    $('#payAdress').val($(this).val());
                });
                $('#adress').keyup(function () {
                    $('#payAdress').val($(this).val());
                });
                $('#adress').change(function () {
                    $('#payAdress').val($(this).val());
                });

                $('#zipcode').html(function () {
                    $('#payZipcode').val($(this).val());
                });
                $('#zipcode').keyup(function () {
                    $('#payZipcode').val($(this).val());
                });
                $('#zipcode').change(function () {
                    $('#payZipcode').val($(this).val());
                });

                $('#province').html(function () {
                    $('#payProvince').val($(this).val());
                });
                $('#province').keyup(function () {
                    $('#payProvince').val($(this).val());
                });
                $('#province').change(function () {
                    $('#payProvince').val($(this).val());
                });

            }
            else {
                $('#payAdress').attr("disabled", false);
                $('#payAdress').val("");
                $('#payProvince').attr("disabled", false);
                $('#payProvince').val("");
                $('#payZipcode').attr("disabled", false);
                $('#payZipcode').val("");
            }

        }
    </script>