@{
    ViewBag.Title = "ShoppingCartView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ShoppingCart currentCart = (ShoppingCart)HttpContext.Current.Session["ShoppingCart"];

    // -------------- TESTING SHIT -----------------------------
    ProductModel testProdukt = new ProductModel();
    testProdukt.productID = 0;
    testProdukt.productName = "TestProdukt";
    testProdukt.description = "Hei, jeg er et test!";
    testProdukt.imageURL = "img1.jpg";
    testProdukt.price = 200;
    testProdukt.stock = 2;
    currentCart.addToCart(testProdukt, 2);

    Products testProdukt2 = new Products();
    testProdukt2.productID = 5;
    testProdukt2.imageURL = "img2.jpg";
    testProdukt2.productName = "TestProdukt2";
    testProdukt2.description = "Hei, jeg er et test!";
    testProdukt2.price = 400;
    testProdukt2.stock = 5;
    currentCart.addToCart(testProdukt2, 3);
    // -------------- END OF TEST ------------------------------
}
<html>
    <body>
        <h2>Shopping Cart:</h2>

        <div class="container">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width:50%">Produkt</th>
                        <th style="width:10%">Pris pr. Enhet</th>
                        <th style="width:8%">Antall</th>
                        <th style="width:22%" class="text-center">Pris</th>
                        <th style="width:10%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in currentCart.ItemsInShoppingCart)
                    {
                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs"><img src="~/Content/@items.product.imageURL" alt="..." style="max-height:150px; max-width:100px" class="img-responsive"/></div>
                                    <div class="col-sm-offset-4">
                                        <h4 class="nomargin">Product 1</h4>
                                        <p>@items.product.description</p>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price">@items.product.price</td>
                            <td data-th="Quantity">
                                <input type="number" class="form-control text-center" value="@items.Quanitity">
                            </td>
                            <td data-th="Subtotal" class="text-center">@((items.product.price)*(items.Quanitity))</td>
                            <td class="actions" data-th="">
                                <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="visible-xs">
                        <td class="text-center"><strong>@currentCart.calculateShoppingCartTotal()</strong></td>
                    </tr>
                    <tr>
                        <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i>Continue Shopping</a></td>
                        <td colspan="2" class="hidden-xs"></td>
                        <td class="hidden-xs text-center"><strong>Total: @currentCart.calculateShoppingCartTotal()</strong></td>
                        <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </body>
</html>
