@model Kaffeplaneten.Models.OrderModel

@{
    ViewBag.Title = "orderView";
}

<div class="table">
    <div class="row">
        <div class="col-sm-4">
            @if (Model.orderNr > 0)
            {
                <h3>
                    Ordre nummer:
                    @Model.orderNr
                </h3>
            }
        </div>
    </div>
    @foreach (var o in Model.products)
    {
        <div class="row">
            <div class="col-sm-4">
                <h4>Vare:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(model => o.productName)
                @Html.DisplayFor(model => o.productName)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(model => o.description)
                @Html.DisplayFor(model => o.description)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(model => o.price)
                @Html.DisplayFor(model => o.price)
            </div>
        </div>
        <br />
    }
    <div class="row">
        <div class="col-sm-4">        
            Totalt:
            @Model.total
        </div>

    </div>
</div>