@model IEnumerable<Kaffeplaneten.Models.ProductModel>

@{
    ViewBag.Title = "Produkter - KaffeplanetenAdmin";
}
@Html.Action("HeaderAndMenuBar", "Layout")

<div class="container">
    <h2>Produkter i databasen</h2>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <p>
        @Html.ActionLink("Nytt produkt", "Add", null, new { @class = "btn btn-success " })
        @Html.ActionLink("Last opp bilder", "Uploader", null, new { @class = "btn btn-success " })
    </p>
    <table class="table table-hover table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageURL)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            
            <tr>
                <td onclick="location.href='@Url.Action("Details", "AdminProduct", new { id = item.productID })'">
                    @Html.DisplayFor(modelItem => item.productID)
                </td>
                <td onclick="location.href='@Url.Action("Details", "AdminProduct", new { id = item.productID })'">
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td onclick="location.href='@Url.Action("Details", "AdminProduct", new { id = item.productID })'">
                    @Html.DisplayFor(modelItem => item.stock)
                </td>
                <td onclick="location.href='@Url.Action("Details", "AdminProduct", new { id = item.productID })'">
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td onclick="location.href='@Url.Action("Details", "AdminProduct", new { id = item.productID })'">
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td onclick="location.href='@Url.Action("Details", "AdminProduct", new { id = item.productID })'">
                    Description..
                </td>
                <td onclick="location.href='@Url.Action("Details", "AdminProduct", new { id = item.productID })'">
                    <img src="~/Content/img/@item.imageURL" style="height:50px;width:50px;">
                </td>
                <td>
                    @Html.ActionLink("Rediger", "Edit", "AdminProduct", new { id = item.productID },  new { @class = "btn btn-default btn-xs" })
                    @Html.ActionLink("Detaljer", "Details", "AdminProduct", new { id = item.productID }, new { @class = "btn btn-default btn-xs" })
                    <span  data-toggle="tooltip" data-placement="top" title="Vis hvordan produktet vil se ut i nettbutikken">
                    <button type="button" class="btn btn-default btn-xs"  data-toggle="modal" data-target="#modalPreview-@Html.DisplayFor(modelItem => item.productID)">Preview</button></span>
                    <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modalDelete-@Html.DisplayFor(modelItem => item.productID)">Slett</button>
                </td>
            </tr>

            <!--DeleteModal-->
            <div class="modal fade" id="modalDelete-@Html.DisplayFor(modelItem => item.productID)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Bekreft sletting!</h4>
                        </div>
                        <div class="modal-body">
                            <p>Er du sikker på at du vil slette @Html.DisplayFor(modelItem => item.productName) ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Avbryt</button>
                            @Html.ActionLink("Slett", "Delete", "AdminProduct", new { id = item.productID }, new { @class = "btn btn-danger " })
                            
                        </div>
                    </div>
                </div>
            </div>




        <!--Modal - ProductDetailsInfo-->
            <div id="modalPreview-@Html.DisplayFor(modelItem => item.productID)" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h1>Utseende i nettbutikk:<br /></h1>
                            <h1 class="modal-title">@Html.DisplayFor(model => item.productName)</h1>
                        </div>
                        <div class="modal-body">
                            <div class="thumbnail">
                                <img img src="../../Content/img/@item.imageURL" alt="ProductImage" style="width:150px;height:150px">

                                <h3 id="pName">-@item.category-</h3>
                                <h2>@item.price,-</h2>
                                <p id="pDes">@item.description</p>
                                <p>@Html.LabelFor(model => item.stock) @item.stock </p>

                                <input id="quantity-@item.productID" class="qty-input form-group" placeholder="velg antall.." type="number" value="1" />
                                <button data-toggle="popover" data-trigger="focus" data-content="@item.productName er lagt til i handlekurven." type="button" id="@item.productID" class="btn btn-default">Legg i handlekurv <span class="glyphicon glyphicon-shopping-cart"></span></button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                        </div>
                    </div>
                </div>
            </div>





        }
    </table>
</div>
