@model Kaffeplaneten.Models.OrderModel
@using Kaffeplaneten.Models;
@{
    ViewBag.Title = "ShoppingCartView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentCart = ((OrderModel)Session[Kaffeplaneten.Controllers.SuperController.SHOPPING_CART]);
}
@Html.Action("HeaderAndMenuBar", "Layout")

<fieldset>
    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Produkt</th>
                    <th style="width:10%">Pris pr. Enhet</th>
                    <th style="width:8%">Antall</th>
                    <th style="width:22%" class="text-center">Pris</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in currentCart.products)
            {
                    <tr id="entireProduct_@product.productID">
                        <td data-th="Produkt">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs"><img src="../../Content/img/@product.imageURL" alt="..." class="img-thumbnail" style="max-width:100px; max-height:100px;" /></div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">@product.productName</h4>
                                    <p>@product.description</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Pris pr. Enhet">@product.price</td>
                        <td data-th="Antall">
                            <input id="@product.productID" type="number" class="form-control text-center" value="@product.quantity">
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $("#@product.productID").on("change", function () {
                                        var val = $('#@product.productID').val();
                                        $.ajax({
                                            url: "/ShoppingCart/updateQuantity",
                                            type: "GET",
                                            data: { productId: (@product.productID),
                                                quantity:   val
                                            }
                                        })
                                        .done(function () {
                                            getSubTotal(@product.productID);
                                        });
                                    });
                                });
                            </script>
                        </td>
                        <td id = "Price_@product.productID" data-th="Pris" class="text-center">@(product.price * product.quantity)</td>
                        <td class="actions" data-th="">
                            <button class="btn btn-danger btn-sm" onclick="removeItem(@product.productID)"><i class="glyphicon-trash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="visible-xs">
                    <td id="whatTotal" class="text-center"><strong>Total: </strong></td>
                </tr>
                <tr>
                    <td>@Html.ActionLink("Tilbake til butikk", "AllProducts", "Product", new { area = "" }, new { @class = "btn btn-warning" })<i class="fa fa-angle-right"></i></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td id="orderTotal" class="hidden-xs text-center"><strong>Total: @currentCart.total </strong></td>
                    <td>@Html.ActionLink("Gå til kasse", "confirmOrderView", "Order", new { area = "" }, new { @class = "btn btn-success btn-block" })<i class="fa fa-angle-right"></i></td>
                </tr>
            </tfoot>
        </table>
    </div>
</fieldset>

<script type="text/javascript">
    function getSubTotal(product) {
        $.ajax({
            url: "/ShoppingCart/getSubTotal",
            type: "GET",
            data: { prodId: product }
        })
        .done(function (result) {
            $("#Price_" + product).html(result);
            getTotal();
        });
    };

    function getTotal() {
        $.ajax({
            url: "/ShoppingCart/calculateTotal",
            type: "GET"
        })
        .done(function (result) {
            $("#orderTotal").html("Total: " + result);
        });
    };

    function removeItem(data){
        $.ajax({
            url: "/ShoppingCart/removeFromCart",
            type: "GET",
            data: { productToBeRemoved: data }
        })
        .done(function () {
            alert("FIXED");
            $("#entireProduct_" + data).remove();
            getTotal();
        });
    };
</script>