@model Kaffeplaneten.Models.OrderModel
@using Kaffeplaneten.Models;
@{
    ViewBag.Title = "ShoppingCartView";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentCart = ((OrderModel)Session["SHOPPING_CART"]);
}

<fieldset>
    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th style="width:50%">Produkt</th>
                    <th style="width:10%">Pris pr. Enhet</th>
                    <th style="width:8%">Antall</th>
                    <th style="width:22%" class="text-center">Pris</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in currentCart.products)
            {
                    <tr>
                        <td data-th="Produkt">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs"><img src="../../Content/img/@product.imageURL" alt="..." class="img-thumbnail" style="max-width:100px; max-height:100px;" /></div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">@product.productName</h4>
                                    <p>@product.description</p>
                                </div>
                            </div>
                        </td>
                        <td data-th="Pris pr. Enhet">@product.price</td>
                        <td data-th="Antall">
                            <input type="number" class="form-control text-center" value="@product.quantity">
                        </td>
                        <td data-th="Pris" class="text-center">@(product.price * product.quantity)</td>
                        <td class="actions" data-th="">
                            <button class="btn btn-info btn-sm"><i class="glyphicon-refresh"></i></button>
                            <button class="btn btn-danger btn-sm"><i class="glyphicon-trash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="visible-xs">
                    <td class="text-center"><strong>Total 1.99</strong></td>
                </tr>
                <tr>
                    <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td class="hidden-xs text-center"><strong>Total: @currentCart.total </strong></td>
                    <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</fieldset>

<script type="text/javascript">
         function calculateTotalCall {
            $("#categoryCanvas").load("@Url.Content("/Product/ProductCategories")");
            $("#categoryCanvas").show();
        });

</script>