
@model Kaffeplaneten.Models.Customer

@{
    ViewBag.Title = "createUser";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Brukerregistrering</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.firstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.lastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.adress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.adress)
            @Html.ValidationMessageFor(model => model.adress)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.zipCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.zipCode)
            @Html.ValidationMessageFor(model => model.zipCode)
            @Html.EditorFor(model => model.province)
            @Html.ValidationMessageFor(model => model.province)
        </div>
       
        <div class="editor-label">
            @Html.LabelFor(model => model.payAdress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.payAdress)
            @Html.ValidationMessageFor(model => model.payAdress)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.payZipcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.payZipcode)
            @Html.ValidationMessageFor(model => model.payZipcode)
            @Html.EditorFor(model => model.payProvince)
            @Html.ValidationMessageFor(model => model.payProvince)
        </div>
  

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opprett bruker" class="btn btn-success" />
                @Html.ActionLink("test", "Liste", new { tom = "" }, new { @class = "btn btn-primary" })
            </div>
        
    </fieldset>
}   

     

