    @model Kaffeplaneten.Models.CustomerModel

@{
    ViewBag.Title = "editAccountView";
}

<h2>Endre Opplysninger</h2>

@{
    ViewBag.Title = "createUser";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Action("HeaderAndMenuBar", "Layout")

    <fieldset>
        <legend>Endre opplysninger</legend>
        <h4><strong>@Html.DisplayNameFor(model => model.customerID)</strong></h4>

            <h4><strong>@Html.DisplayNameFor(model => model.firstName)</strong></h4>
            @Html.TextBoxFor(model => model.firstName, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(model => model.firstName)</div>


        <h4><strong>@Html.DisplayNameFor(model => model.lastName)</strong></h4>
        @Html.TextBoxFor(model => model.lastName, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(model => model.lastName)</div>



        <h4><strong>@Html.DisplayNameFor(model => model.email)</strong></h4>
        @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(model => model.email)</div>

        <h4><strong>@Html.DisplayNameFor(model => model.oldPassword)</strong></h4>
        @Html.PasswordFor(model => model.oldPassword, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(model => model.oldPassword)</div>

        <h4><strong>@Html.DisplayNameFor(model => model.password)</strong></h4>
        @Html.PasswordFor(model => model.password, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(model => model.password)</div>

        <h4><strong>@Html.DisplayNameFor(model => model.passwordVerifier)</strong></h4>
        @Html.PasswordFor(model => model.passwordVerifier, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(model => model.passwordVerifier)</div>


        <h4><strong>@Html.DisplayNameFor(model => model.phone)</strong></h4>
        @Html.TextBoxFor(model => model.phone, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(model => model.phone)</div>


        <h4><strong>@Html.DisplayNameFor(model => model.adress)</strong></h4>
        @Html.TextBoxFor(model => model.adress, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(model => model.adress)</div>




        <h4><strong>@Html.DisplayNameFor(model => model.zipCode)</strong></h4>
        @Html.TextBoxFor(model => model.zipCode, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(model => model.zipCode)</div>
       
        <h4><strong>@Html.DisplayNameFor(model => model.province)</strong></h4>
         @Html.TextBoxFor(model => model.province, new { @class = "form-control" })
         <div style="color:red">@Html.ValidationMessageFor(model => model.province)</div>


        <h4><strong>@Html.DisplayNameFor(model => model.sameAdresses)</strong></h4>
        @Html.CheckBoxFor(model => model.sameAdresses, new { @class = "form-control" })

        <h4><strong>@Html.DisplayNameFor(model => model.payAdress)</strong></h4>
        @Html.TextBoxFor(model => model.payAdress, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(model => model.payAdress)</div>

        <h4><strong>@Html.DisplayNameFor(model => model.payZipcode)</strong></h4>
        @Html.TextBoxFor(model => model.payZipcode, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(model => model.payZipcode)</div>

        <h4><strong>@Html.DisplayNameFor(model => model.payProvince)</strong></h4>
        @Html.TextBoxFor(model => model.payProvince, new { @class = "form-control" })
        <div style="color:red">@Html.ValidationMessageFor(model => model.payProvince)</div>


        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Oppdater" class="btn btn-success" />
        </div>

</fieldset>
}


